*{
    margin: 0px;
}

.container{
    width: 100%;
    height: 100vh;
    background-color:rgba(107, 107, 173, 0.596) ;
}

.watch{
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: center;
    align-items: center;
}
.spn{
    font-size: 150px;
    font-weight: bold;
    margin: 10px;

}
.chr{
    font-size: 62px;
    font-weight: bold;
    margin: 0px;
}
.btns{
    width: 100%;
    text-align: center;
}
.btn{
    width: 110px;
    height: 35px;
    margin: 0px 15px;
    font-size: 23px;
    text-transform: capitalize;
    font-weight: bold;
    cursor: pointer;
    

}
#start{
  background-color: rgba(77, 223, 77, 0.651);
}
#stop{
    background-color: rgba(255, 0, 0, 0.644);

}
#reset{
    background-color: rgba(255, 255, 0, 0.555);

}